<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600249159659-h66aru6oik872dbd3o96na8t6t8mkqjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600249159659-h66aru6oik872dbd3o96na8t6t8mkqjm</string>
	<key>API_KEY</key>
	<string>AIzaSyANTfB7Iu5KlNed4auUg9u33r7XwtkAynU</string>
	<key>GCM_SENDER_ID</key>
	<string>600249159659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eduardo.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-dff0c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-dff0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600249159659:ios:3b750fa745db4d74f313ae</string>
</dict>
</plist>